* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border-radius: 5px;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.loading {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  width: 120px;
}
